{
    "messageType": "DATA_MESSAGE",
    "owner": "{{owner}}",
    "logGroup": "{{log_group}}",
    "logStream": "{{ log_stream }}",
    "subscriptionFilters": [
        "{{log_group}}-filter"
    ],
    "logEvents": [
    {% for event in log_events %}
    {
        "id": "{{ event.id }}",
        "timestamp": {{ event.timestamp }},
        "message": "{{ event.message }}"
        {% if loop.last %}}{% else %}},{% endif %}
    {% endfor %} {# for event #}
    ]
}
